src/main/mule/test-connectivity.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e740a4d1-9d71-49cd-ab96-113498fe4cf5" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="test-connectivityFlow" doc:id="0eb3317b-d144-4f70-b4a2-8da757acb5ac" >
		<scheduler doc:name="Scheduler" doc:id="d914f37a-041e-4761-94c5-cf6ef82255b0" >
			<scheduling-strategy >
				<fixed-frequency frequency="10" timeUnit="HOURS"/>
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="Logger" doc:id="d97d0b40-9ce7-4954-8f89-7a90d47edade" message="start testing"/>
		<http:request method="GET" doc:name="Request" doc:id="77d403a7-ef18-4efd-84bc-02f5719728d0" url="https://sandbox-api-senderid.comreg.ie/senderid-list/csv">
			<http:headers ><![CDATA[#[output application/java
---
{
	"x-personal-access-token" : "JEV2qy59Q457y2RIcPeIyjbsA8szRU00GyTNiqYDIfI"
}]]]></http:headers>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="f5c2cab8-ef9e-42c8-9fd2-dbd0232b366a" message="#[payload]" category="org"/>
	</flow>
</mule>
